
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lavishly+Yours&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
a.active hr{
    display:block;
}
.product::-webkit-scrollbar{
    display:none
}
@media (max-width:640px) {
    a.active{
        background-color: black;
        color:white;
    }
}